
body {

/* Ubicación de la imagen */



/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

background-color: #5bc0de;

}

.sociala {top: 200px;}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.cabezal {
	margin-top: 80px;
	text-shadow: 1px 1px 1px #FFF;
   color: #FFF;
}



.veintepo {
  height:10%;
  display:inline;
  padding-right:5%;
  background-color:#000;
 }
.ir-arriba2 {
    margin-top: 1%;
  padding:20px; 
    opacity:0.5; 
  cursor:pointer;
  position: fixed;
  right:7%;
   -webkit-border-radius: 35px;
       -moz-border-radius: 35px;
            border-radius: 35px;
}
.stylebuttons {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: #FFF;
}

.ochentapo {
height:30%;
margin-top: 10%;
}

.botonfuera {padding-top: 20px;
				text-align: center;}

.caja {
  background-color:rgba(0,0,0,0);
  color: black;
  right: 20px;
  text-align: center;
  margin-top: 100px;
  margin-right:20%;
  max-width: 600px;
  float: right;
 
  }
  .caja h4 { font-family: 'Kalam', cursive;
  font-size: 24px;}
 

.caja img.tamanoimg {
  width: 250px; height: 170px;
}
.caja img.tamanovive {
  width: 110px; height: 110px;
  padding-top: 20px;


}

.caja .ghost {

    /* utilizamos estas propiedades para centrar el botón */
   
    position: relative;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    /* definimos los estilos del texto */
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: none;
    

    /* agregamos un borde y lo separamos del texto */
    border: 0.15em solid #000;
    padding: 0.4em 0.6em;

    /* animamos el cambio de colores */
    -webkit-transition: color 500ms, background 600ms, border-color 700ms;
    transition: color 300ms, background 500ms, border-color 700ms;

       -webkit-border-radius: 35px;
       -moz-border-radius: 35px;
            border-radius: 35px;
}
.ghost:hover {
    background: #000000;
    border-color: #000000;
    opacity:0.5; 
    color: white;
}
.dropito {
  height:10%;
   margin-top: 10%;
  text-align: center;
  
 cursor:pointer;


 
  -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
           border-radius: 35px;
  
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
  border: 1px solid blue;
}
.sociala {

position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
left: 0px; /* Establecemos la barra en la izquierda */
top: 200px; /* Bajamos la barra 200px de arriba a abajo */
z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
float: left;
}

.sociala ul {
list-style: none;
margin-left: 0px;
padding-left: 0px;
align: left;
}

.sociala ul li a {
display: inline-block;
color:#fff;
background: #000;
padding: 10px 15px;
text-decoration: none;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.sociala ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.sociala ul li .icon-twitter {background: #00abf0;}
.sociala ul li .icon-google-plus2 {background: #d95232;}
.sociala ul li .icon-mail2 {background: #ff6600;}
.sociala ul li .icon-youtube {background: #bb0000;}  
.sociala ul li .icon-instagram {background: #125688;}

.sociala ul li a:hover {
background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

@media(max-width: 995px){
    .dropito{
    	display: block;
    	margin: 10px;
    		}
    .veintepo{display: none;}
	.botonfuera {display: none;}

    
    h2 {text-align: center;}

  
}

@media(min-width: 995px){
.dropito {display: none;
			}
.botonfuera {display: none;}

}

@media(max-width: 630px){
	.carousel-caption{display: none;}
	.botonfuera {display: block;}

}

