.dropito {
  height:10%;
   margin-top: 10%;
  text-align: center;  
  cursor:pointer; 
  -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
           border-radius: 35px;
  
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
  border: 1px solid blue;
}

@media(min-width: 991px){
  .dropito {display: none;}
  .sociala {top: 200px; }
}

@media(max-width: 991px){  
  .sociala {top: 40px; }  
}
@media(max-width: 460px){  
  
    .preprefooter1 {height: 150px;}
  
}
@media(min-width: 460px){  
  
    .preprefooter1 {height: 70px;}
  
}